/* 컨테이너 */
.container-1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
/* 전체 카드 영역 */
.reg-card {
  width: 900px;
  border-radius: 20px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
/* 카드 안에 들어가는 영역 */
.reg-box-card {
  background-color: #ededed;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  justify-content: center;
}
/* 카드 안에 설명 */
.reg-info {
  width: 400px;
  height: 550px;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: #a2c6dd;
  text-align: center;
  color: white;
  position: relative;
}
/* 카드 안에 입력 영역 */
.input-area {
  width: 1040px;
  border-radius: 10px;
  background-color: #ededed;
  text-align: center;
  position: relative;
}
.reg-info-box {
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 10%;
}
/* p태그 폰트 사이즈 */
p {
  font-size: 20px;
}
/* 일기쓰기 버튼 */
.write-darily {
  cursor: pointer;
  color: white;
  border: none;
  width: 230px;
  height: 40px;
  border-radius: 15px;
  background: #81c4ee;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
  margin-top: 2%;
}
/* 슬라이더 버튼 */
.contents-2-1 {
  background-color: white;
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
  padding: 20px 80px;
  margin: 15% auto;
}
.input-area-box {
  margin-top: 30%;
}
/* 슬라이더 */
.contents-1 {
  font-size: 30px;
}
#myRange {
  width: 300px;
}
/* 슬라이더 뱃지 컬러 */
.mood-color {
  background-color: #73aad2;
}
.badge {
  font-size: 25px !important;
}
/* 진행 */
.pro-bar {
  background-color: #73c6d2;
}

/* 슬라이더 스타일 */
.slider::-webkit-slider-runnable-track {
  accent-color: #ff6464;
  cursor: pointer;
  background-color: #ffc6c6;
  border-radius: 20px;
}
.reg-title {
  margin-top: 40px;
}
.reg-desc {
  margin-top: 20px;
  font-weight: 300;
}
