/* 공통 영역 시작 */
/* 공통영역 emotional_analysis.html에 맞게 수정해야됨. */
* {
    font-family: "Noto Sans KR", sans-serif;
    color: #333333;
    font-size: 16px;
    position: relative;
}

.container1 {
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.cursor-p {
    cursor: pointer;
}
/* 공통 영역 끝 */


/* 전체 카드 컨테이너 */
.reg-container {
    width: 100%;
    display: flex;

}

/* 1개 카드 박스 */
.reg-box {
    text-align: center;
    width: 100%;
    flex-shrink: 0;
    transition: transform 0.5s ease-in-out; /* 부드러운 움직임 */
}

/* 공통 카드 영역 시작 */
.reg-box-card {
    width: fit-content;
    display: flex;
    background-color: #EDEDED;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

/* 설명영역 */
.reg-info{
    display: flex;
    background-color: #A2C6DD;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 400px;
    height: 550px;
}
.desc-title, .reg-tip > p {
    color: white;
}
.desc-title {
    font-size: 25px;
    font-weight: bolder;
}
.reg-desc{
    margin-top: 25px;
}
.reg-tip{
    font-weight: 400;
    margin-top: 15px;
}

/* 입력 영역 */
.input-area{
    width: 540px;
    height: 550px;
    background-color: #EDEDED;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-area-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
}

/* 스크롤바 제거 */
::-webkit-scrollbar {
    display: none;
}

/* 공통영역 끝 */


/* 얼굴 등록 css */
/* 사진 업로드 테두리 */
.upload-grid{
    border: dashed 2px #818181;
    border-radius: 20px;
}
.upload-area-box2, .upload-area-box3{
    margin-top: 20px;
}
/* 사진 업로드 버튼 */
#upload-btn-label{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    background-color: #A2C6DD;
    width: 170px;
    height: 40px;
    cursor: pointer;
    text-align: center;
}
#upload-btn-label:hover{
    background-color: #7FA9C4;
}
#upload-btn[type=file]{
    width: 0;
    height: 0;
    padding: 0;
    border: none;
    overflow: hidden;
}
#face-pic-name{
    color: #929292;
    font-size: 15px;
    font-weight: 400;
}
.upload-area-box3{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* 척도 등록 css */
.mood-scale {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mood-scale-2 {
    width: 90%;
    height: 60px;
    background-color: #fcfafa;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.mood-scale-2 > input[type=range] {
    -webkit-appearance: none;
    background-color: #fcfafa;
    width: 85%;
    height: 100%;
    outline: none;
}

/*핸들 크기*/
.mood-scale-2 > input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /*background-image: url("../img/FaceRegistration/mood_img/sad.png");*/
    background-size: cover;
    cursor: pointer;
    margin-top: -20px;
}
/*핸들러 이미지*/
.facebgicon1::-webkit-slider-thumb {
    background-image: url("../img/FaceRegistration/mood_img/verysad.png");
}
.facebgicon2::-webkit-slider-thumb {
    background-image: url("../img/FaceRegistration/mood_img/sad.png");
}
.facebgicon3::-webkit-slider-thumb {
    background-image: url("../img/FaceRegistration/mood_img/normal.png");
}
.facebgicon4::-webkit-slider-thumb {
    background-image: url("../img/FaceRegistration/mood_img/happy.png");
}
.facebgicon5::-webkit-slider-thumb {
    background-image: url("../img/FaceRegistration/mood_img/veryhappy.png");
}

/* 트랙 스타일링 (WebKit 기반 브라우저) */
.mood-scale-2 > input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 20%;
    background: #FFC6C6; /* 여기서 트랙의 배경색을 설정 */
    border-radius: 10px; /* 트랙의 모서리 둥글게 */
}

/* 기분 폰트 사이즈 */
.mood-scale-1 {
    font-size: 25px;
}

/*
기분 컬러코드 동적으로 변경
나쁨 D27373
조금나쁨 ED8220
보통 73AAD2
좋음 73C6D2
매우좋음 73D282
*/

/* 기분 뱃지 */
.mood-bad {
    background-color: #D27373;
}
.mood-little-bad {
    background-color: #ED8220;
}
.mood-normal {
    background-color: #73AAD2;
}
.mood-good {
    background-color: #73C6D2;
}
.mood-very-good {
    background-color: #73D282;
}

/* 일기 등록 css */
.input-diary{
    width: 100%;
}

/* 일기 제목 */
#diary-title{
    width: 100%;
    height: 50px;
    background-color: #FFFBF6;
    border-radius: 10px;
    border: none;
    text-align: center;

}
/* 일기 내용 */
.diary-content-box{
    margin-top: 10px;
}
#diary-content {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    line-height: 27px;
    resize: none;
    border: none;
    padding: 30px;
    font-size: 15px;
    background-image: url(../img/FaceRegistration/diarybg.png);
    background-size: cover;
}

/* 모달 css */
.warn-modal-wrap {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    z-index: 20;
}

/* modal or popup */
.modal-container1 {
    position: relative;
    width: 660px;
    height: 685px;
    background: #dadada;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
}
/* X 버튼 */
#warn_modal_close {
    position: relative;
    display: block;
    width: 39px;
    height: 36px;
    float: right;
    background: url("../img/FaceRegistration/image-74.png");
    border: none;
    cursor: pointer;
    z-index: 2;
}

.warn-info {
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* 모달 내용 */
.warn-info-box {
    display: flex;
    justify-content: center;
}
.card {
    width: 245px;
    height: 265px;
    border-radius: 10px;
    background: #fff;
}
.bcard {
    width: 245px;
    height: 265px;
    border-radius: 10px;
    background: #5a5a5a;
}

.info-cards-container {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    padding: 20px; /* 컨테이너 가장자리와 아이템 사이의 패딩 추가 */
}

.info-cards-1,
.info-cards-2,
.info-cards-3,
.info-cards-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.info-coment {
    margin-top: 5px;
}
.card > img:first-child,
.bcard > img:first-child {
    margin-right: 150px;
}
.warn-title {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
}
.warn-info-box-1 > img {
    margin-top: -10px;
}

/* 로딩화면 */
.object{
    position: inherit;
    top: -240px;
    left: 30px;
    z-index: -10;
    transform: rotate(-5deg);
    animation: sail 2s infinite linear;
}

.boat{
    width: 50px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    transform: perspective(50px) rotateX(-60deg);
}

.flag{
    background-color: rgb(255, 255, 255);
    width: 20px;
    height: 15px;
    transform: rotate(70deg) skew(45deg);
    position: relative;
    top: -43px;
    left: 13px;
}
.wave{
    position: relative;
    width: 40px;
    height: 37px;
    border-radius: 50%;
    border: 4px solid transparent;
}

#wave1, #wave3, #wave5, #wave7{
    background-color: rgb(0, 0, 0);
    border-top: 4px solid rgb(255, 255, 255);
    animation: flow 1s infinite linear;
}
#wave2, #wave4, #wave6, #wave8{
    border-bottom: 4px solid rgb(255, 255, 255);
    animation: flow 1s infinite linear;
}

#wave1{
    top: 76px;
    left: 13px;
}
#wave2{
    z-index: 1;
    top: 7px;
    left: -10px;
}
#wave3{
    top: -5px;
    left: 13px;
}
#wave4{
    z-index: 2;
    top: -66px;
    left: 38px;
}
#wave5{
    top: -77px;
    left: 60px;
}
#wave6{
    z-index: 3;
    top: -138px;
    left: 85px;
}
#wave7{
    top: -151px;
    left: 110px;
}
#wave8{
    top: -214px;
    left: 132px;
}
#analyzing, #almost-end{
    color: white;
    position: relative;
    top: 35vh;
}
@keyframes flow {
    0%{
        transform: translate(0px);
    }
    100%{
        transform: translate(-44px);
    }
}
@keyframes sail {
    0%{
        transform: rotate(-5deg);
    }
    50%{
        transform: rotate(5deg);
    }
}

/*진행바 CSS */
.pro-bar-box{
    width: 100%;
    display: flex;
    justify-content: center;
}
.row {
    width: 100%;
}
.progressbar {
    margin: 30px 0 50px 0;
    counter-reset: step;
    text-align: center;
    display: flex;
    justify-content: center;
}
.progressbar li {
    list-style-type: none;
    width: 15%;
    float: left;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #7d7d7d;
}
.progressbar > li > span {
    font-size: 20px;
    color: #bad1de;
}
.progressbar li:before {
    width: 20px;
    height: 20px;
    content: '';
    line-height: 30px;
    border: 2px solid #c9c9c9;
    background-color: #c9c9c9;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    transition: all .8s;
    position: relative;
    z-index: 4;
}
.progressbar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #c9c9c9;
    top: 9px;
    left: -50%;
    z-index: 3;
    transition: all .8s;
}
.progressbar li:first-child:after {
    content: none;
}
.progressbar li.active:before {
    border-color: #157eb7;
    background-color: #157eb7;
    transition: all .8s;
}
.progressbar li.active:after {
    background-color: #157eb7;
    transition: all .8s;
}
.progressbar li.active > .span-bold {
    color: #157eb7;
    font-weight: bold;
    transition: .8s;
}
.progressbar li > .span-thin{
    font-weight: 300;
    transition: 0.8s;
}