.container-2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  top: 400px;
}

.fake-div {
  border-radius: 20px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
}
/* 전체 카드 영역 */
.reg-card {
  width: 900px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
/* 카드 안에 들어가는 영역 */
.reg-box-card {
  background-color: #ededed;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  justify-content: center;
}
/* 카드 안에 설명 */
.reg-info {
  width: 400px;
  height: 550px;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: #a2c6dd;
  text-align: center;
  color: white;
  position: relative;
}
/* 카드 안에 입력 영역 */
.input-area {
  width: 1040px;
  border-radius: 10px;
  background-color: #ededed;
  text-align: center;
  position: relative;
}
.reg-info-box {
  align-items: center;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 10%;
}
/* p태그 폰트 사이즈 */
p {
  font-size: 20px;
}
.input-area-box {
  margin-top: 5%;
}
/* 슬라이더 */
.contents-1 {
  font-size: 30px;
}
/* 슬라이더 스타일 */
.slider::-webkit-slider-runnable-track {
  accent-color: #ff6464;
  cursor: pointer;
  background-color: #ffc6c6;
  border-radius: 20px;
}
.reg-title {
  margin-top: 40px;
}
.reg-desc {
  margin-top: 20px;
  font-weight: 300;
}
.next-button > button {
  color: white;
  cursor: pointer;
  margin-top: 40px;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  background-color: #81c4ee;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
}

/* 진행바 */
/* 진행바 참고 사이트
https://dev.to/jolamemushaj/how-to-create-a-steps-progress-bar-4m2b */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
ul {
  display: flex;
  justify-content: center;
  padding: 0;
}

ul li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 40px;
}

ul li .icons {
  font-size: 25px;
  color: #1b761b;
  margin: 0 60px;
}

ul li .label {
  font-family: sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: thin;
  color: #6892b0;
}

ul li .step {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #6892b0;
  margin: 16px 0 10px;
  display: grid;
  place-items: center;
  color: ghostwhite;
  position: relative;
  cursor: pointer;
  z-index: 0;
}

.step::after {
  content: "";
  position: absolute;
  width: 170px;
  height: 2px;
  background-color: #6892b0;
  right: 30px;
}

.first::after {
  width: 0;
  height: 0;
}

ul li .step .awesome {
  display: none;
}

ul li .step p {
  font-size: 18px;
}
ul li .active {
  background-color: #5fa7db;
}
li .active::after {
  background-color: #5fa7db;
}
ul li .active p {
  display: none;
}
ul li .active .awesome {
  display: flex;
}

.input-area {
  display: flex;
  justify-content: center;
  align-items: center;
}
.upload-area {
  width: 440px;
  height: 480px;
  border-radius: 10px;
  border: 2px dashed #afaeae;

  /* 자식요소 가운데 정렬 */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.upload-area-box2 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.upload-area-box2 > span {
  color: #929292;
}
#upload-btn {
  width: 175px;
  height: 45px;
  border-radius: 20px;
  background: #81c4ee;
  border: none;
  color: white;
}

/* 모달---------------------------------------------- */
/* dimmed */

.warn-modal-wrap {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  z-index: 20;
}

/* modal or popup */
.modal-container1 {
  position: relative;
  width: 660px;
  height: 690px;
  background: #dadada;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
}
/* X 버튼 */
#warn_modal_close {
  position: relative;
  display: block;
  width: 39px;
  height: 36px;
  float: right;
  background: url("../img/FaceRegistration/image-74.png");
  border: none;
  cursor: pointer;
  z-index: 2;
}

.warn-info {
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* 모달 내용 */
.warn-info-box {
  display: flex;
  justify-content: center;
}
.card {
  width: 260px;
  height: 260px;
  border-radius: 10px;
  background: #fff;
}
.bcard {
  width: 260px;
  height: 260px;
  border-radius: 10px;
  background: #5a5a5a;
}

.info-cards-container {
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  padding: 20px; /* 컨테이너 가장자리와 아이템 사이의 패딩 추가 */
}

.info-cards-1,
.info-cards-2,
.info-cards-3,
.info-cards-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.info-coment {
  margin-top: 5px;
}
.card > img:first-child,
.bcard > img:first-child {
  margin-right: 150px;
}
.warn-title {
  margin-left: 20px;
  font-size: 30px;
  font-weight: 600;
}
.warn-info-box-1 > img {
  margin-top: -10px;
}
