.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: absolute;
  background-image: url("../assets/main_image.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.white-box {
  display: flex;
  position: absolute;
  width: 40%;
  height: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 25px;
}

.left-box {
  position: relative;
  width: 50%;
  left: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.left-box h2 {
  position: relative;
  margin-top: 30px;
  text-align: center;
  font-size: 30px;
}

.left-box img {
  position: relative;
  margin-top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 200px;
}

.left-box p {
  position: relative;
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
  color: #879090;
}

.left-box a {
  position: relative;
  margin-top: 5px;
  width: 160px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 20px;
  color: black;
  text-decoration: none;
  background-color: white;
  border-radius: 10px;
}

.login-box {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  right: 0px;
  background-color: rgba(236, 184, 163, 0.9);
  border-radius: 15px;
}

.login-box h1 {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  padding: 0px;
  font-size: 30px;
}

.form-input-box {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 80%;
  left: 50%;
  transform: translateX(-50%);
}

.form-input-box .form-input:first-child input {
  margin-bottom: 10px;
}

.form-input-box .form-input input {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 10px;
  padding: 0px 10px;
  font-size: 20px;
}

.form-check {
  display: flex;
  width: 100%;
  margin: 10px 0;
  padding: 0px;
}

.form-check .remember-checkbox {
  display: flex;
  left: 10%;
  position: relative;
}

.form-check .remember-checkbox label {
  margin-left: 10px;
}

.login-search-box {
  display: flex;
  width: 100%;
  margin: 20px 0px;
  padding: 0px;
}

.login-search-box button {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 15px;
  border: none;
  background-color: transparent;
}

#login-submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 40px;
  margin-top: 10px;
  border: none;
  border-radius: 27px;
  background-color: #f5f5f5;
  font-size: 20px;
  cursor: pointer;
}

.social-login-box {
  display: flex;
  width: 100%;
  height: 50px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.social-login-box a {
  display: flex;
  position: relative;
  bottom: 30px;
  width: 40px;
  height: 40px;
  margin: 0px 10px;
  border-radius: 50%;
  background-color: white;
}

/* 모달창 */
.findIdModal {
  background-color: white;
  z-index: 10;
  width: 70%;
  max-width: 600px;
  height: 50%;
  min-height: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}

.findIdModal .findModalContent {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  padding: 30px;
}

.findIdModal .findModalContent h2 {
  text-align: center;
}

.findIdModal .findModalContent form {
  top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 10%;
}

.findIdModal .findModalContent form > div {
  width: 100%;
}

.findIdModal .findModalContent form input {
  width: 100%;
  height: 40px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0px 10px;
  font-size: 20px;
}

.findIdModal .findModalContent form .email-box {
  display: flex;
  align-items: center;
}

.findIdModal .findModalContent form #email {
  width: 80%;
}

.findIdModal .findModalContent form .email-box button {
  width: 15%;
  height: 40px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #919090;
  font-size: 20px;
  cursor: pointer;
  color: white;
  margin-left: 30px;
}

.findIdModal .findModalContent form .emailCheckBox {
  margin-bottom: 35px;
}

.findIdModal .findModalContent form button {
  width: 50%;
  height: 30px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #919090;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

.findIdModal .findModalContent form button:hover {
  background-color: #b5b5b5;
}

.findIdModal .findModalContent .close {
  z-index: 10;
  color: black;
}

.findPwdModal {
  background-color: white;
  z-index: 10;
  width: 70%;
  max-width: 600px;
  height: 60%;
  min-height: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}

.findPwdModal .findModalContent {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  padding: 30px;
}

.findPwdModal .findModalContent h2 {
  text-align: center;
}

.findPwdModal .findModalContent form {
  top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 10%;
}

.findPwdModal .findModalContent form > div {
  width: 100%;
}

.findPwdModal .findModalContent form input {
  width: 100%;
  height: 40px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0px 10px;
  font-size: 20px;
}

.findPwdModal .findModalContent form .email-box {
  display: flex;
  align-items: center;
}

.findPwdModal .findModalContent form .email-box button {
  width: 15%;
  height: 40px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #919090;
  font-size: 20px;
  cursor: pointer;
  color: white;
  margin-left: 30px;
}

.findPwdModal .findModalContent form #email {
  width: 80%;
}

.findPwdModal .findModalContent form button {
  width: 50%;
  height: 30px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #919090;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

.findPwdModal .findModalContent form .emailCheckBox {
  margin-bottom: 35px;
}

.findPwdModal .findModalContent form button:hover {
  background-color: #b5b5b5;
}

.findPwdModal .findModalContent .close {
  z-index: 10;
  color: black;
}
