/* 달력, 탭 영역 flex 주는 영역 */
.myplace-content-area {
  display: flex;
  width: fit-content;
  margin: 0 auto;
}

/* 달력 */
.myplace-calendar-area {
  margin-right: 50px;
}

/* 탭 버튼 */
.myplace-tab-btn-area {
  display: flex;
  width: fit-content;
  margin: 0 auto;
}

/* 탭 영역 버튼 */
/* [추천 리스트] 버튼 */
.myplace-tab-btn-area > .tab-btn-left {
  border-radius: 10px 0px 0px 0px;
  width: 424px;
  height: 50px;
  background: #efefef;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 50px;
}

/* [일기] 버튼 */
.myplace-tab-btn-area > .tab-btn-right {
  border-radius: 0px 10px 0px 0px;
  width: 424px;
  height: 50px;
  background: #efefef;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 50px;
}

/* 버튼 클릭 됐을 때 */
.myplace-tab-btn-area > .tab-btn-active {
  background: #d7d7d7;
  font-weight: 700;
}

/* 탭 컨텐츠 영역 */
.tab-content-area {
  width: fit-content;
  height: 565px;
  padding: 20px 50px;
  background: #f8f8f8;
  border-radius: 0 0 10px 10px;
  overflow: auto;
}

/* 추천 리스트 전체 영역 */
.rlist-container {
  margin-top: 20px;
}

/* 추천 리스트 카드 하나 */
.rlist-card-area {
  display: flex;
  margin-top: 20px;
}

/* 추천 리스트 카드 - 가게 정보 영역 */
.rlist-content-area {
  width: 600px;
  height: 130px;
  background-color: #ffe3e3;
  border-radius: 20px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 20;
}

/* 이미지 제외 가게 정보 영역 */
.all-info > .content {
  width: 410px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 10px;
}

/* 가게 이름 */
.stname-address > .stName {
  font-size: 1.3rem;
  margin-bottom: 3px;
}

/* 가게 주소 */
.stname-address > .stAddress {
  font-size: 16px;
}

/* 사진, 가게 정보 */
.rlist-content-area > .all-info {
  display: flex;
  align-items: center;
}

/* 가게명, 가게 주소 */
.stname-address {
}

/* 해시태그 */
.rlist-rec-hash {
  display: inline-block;
  background-color: rgb(255 255 255 / 50%);
  padding: 0px 11px;
  margin-right: 3px;
  border-radius: 32px;
  border: 1px solid #ffd1d1;
  transition: box-shadow 0.15s ease-in 0s, background-color 0.15s ease-in 0s;
}

/* 해시태그 hover */
.rlist-rec-hash:hover {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
  background-color: #ffdede;
}

/* 하트 이미지 영역 */
.rlist-heart {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 하트 이미지 */
.rlist-heart > img {
  width: 2rem;
}

/* 피드 올리기 버튼 */
.upload-btn-area {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  border-radius: 0 20px 20px 0;
  left: -20px;
  z-index: 10;
}

/* 피드 올리기 span */
.upload-btn-area > span {
  display: inline-block;
  white-space: nowrap;
  padding: 0 20px 0 40px;
  font-size: 1rem;
  font-weight: 500;
}
